<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/commons :: head"/>

<body>
    <div th:replace="fragments/commons :: navgation(-1)"/>

        <div class="row justify-content-center">
            <form method="post" th:object="${roupa}" class="col-md-2"  th:action="@{/salvar}" enctype="multipart/form-data">
                <label class="form-label">Descricao: </label><br/>
                <input type="text" name="genero" th:field="*{descricao}"> <br/>
                <p th:if="${#fields.hasErrors('preco')}" ></p>
                <label class="form-label">Preço:</label><br/>
                <input type="number" step="0.01" name="preco" th:field="*{preco}"> <br/>
                <label class="form-label">Quantidade: </label><br/>
                <input type="number" name="quantidade" th:field="*{quantidade}"> <br/>
                <label class="form-label">Tipo: </label><br/>
                <input type="text" name="tipo" th:field="*{tipo}"> <br/><label class="form-label">Tipo: </label><br/>
                <input type="file" name="file" > <br/>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    <div th:replace="fragments/commons :: footer"/>
</body>
</html>