<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

     <div th:replace="fragments/commons :: head"/>

     <body>
         <div class="col mb-2">
             <div class="alert alert-success" role="alert" th:text="${msg}" th:if="${msg != ''}">

             </div>
         </div>
        <div th:replace="fragments/commons :: navgation(${carrinho})"/>
        <div th:replace="fragments/commons :: header"/>

        <section th:fragment="section"class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" >
                    <div class="col mb-5" th:each=" roupa : ${listaRoupas}">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" th:src="@{'/images/' + ${roupa.imageURI}}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder" th:text="${roupa.descricao}"/>
                                    <!-- Product price-->
                                    R$ <span th:text="${roupa.preco}"></span>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:href="@{'/adicionarCarrinho/' + ${roupa.id}}">Adicionar ao carrinho</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer-->
        <div th:replace="fragments/commons :: footer"/>
    </body>
</html>
